Django==5.0.1
djangorestframework==3.14.0
django-cors-headers==4.3.1
python-dotenv==1.0.0
Pillow>=11.2.1
google-generativeai
reportlab
openpyxl
matplotlib

# Database (Neon/PostgreSQL)
psycopg2-binary
dj-database-url

# Production & Deployment
gunicorn
whitenoise

# Firebase
firebase-admin

django-mfa2
fido2
